absl-py==2.3.1
click==8.3.0
fasttext==0.9.3
gensim==4.3.3
h5py==3.15.0
joblib==1.5.2
keras==3.11.3
markdown-it-py==4.0.0
mdurl==0.1.2
ml_dtypes==0.5.3
namex==0.1.0
nltk==3.9.1
numpy==1.26.4
optree==0.17.0
packaging==25.0
pandas==2.3.2
pybind11==3.0.1
Pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2025.9.18
rich==14.2.0
scikit-learn==1.7.2
scipy==1.13.1
setuptools==80.9.0
six==1.17.0
smart_open==7.3.1
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
wrapt==1.17.3
